@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  /* overflow: hidden; */
}

.scroll::-webkit-scrollbar {
  width: 18px;
}

.scroll:hover::-webkit-scrollbar-thumb {
  background-color: rgba(82, 82, 82, 0.3);
}

.scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgba(82, 82, 82, 0.5);
}

.scroll-tab::-webkit-scrollbar {
  height: 3px;
}

.scroll-tab::-webkit-scrollbar-track {
  background-color: rgba(31, 31, 31, 1);
}

.scroll-tab:hover::-webkit-scrollbar-thumb {
  background-color: rgba(82, 82, 82, 0.3);
}

.scroll-tab::-webkit-scrollbar-thumb:hover {
  background-color: rgba(82, 82, 82, 0.5);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(82, 82, 82, 0.5);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

.icon:hover ~ .title-on-icon {
  visibility: visible;
  opacity: 1;
}
.ew-resizable {
  width: 360px;
}

.ew-slider {
  cursor: ew-resize;
}
