@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

.main::-webkit-scrollbar {
  width: 18px;
  border-style: solid;
  border-color: #000;
  border-width: 0px 0px 0px 1px;
}

.main:hover::-webkit-scrollbar-thumb {
  background-color: rgba(82, 82, 82, 0.3);
}

.main::-webkit-scrollbar-thumb:hover {
  background-color: rgba(82, 82, 82, 0.5);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(82, 82, 82, 0.5);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

.icon:hover ~ .title-on-icon {
  visibility: visible;
  opacity: 1;
}
